@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 221 83% 53%; /* آبی */
  --secondary: 217 19% 27%; /* طوسی تیره */
  --accent: 48 96% 58%; /* زرد */
  --background: 210 20% 98%; /* پس‌زمینه */
  --text-primary: 217 19% 27%; /* متن اصلی */
  --text-secondary: 215 14% 46%; /* متن فرعی */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: vazir;
  text-align: right;
}
